.home-container
{
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#navbar{
    height: 10vh;
    width: 100%;     
}
.home-div{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: row;
}
.left
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 100%;
    background-color: #f2f3f5;
}
.left:hover{
    background-color: rgb(238, 238, 238); 
}
.left-panel-heading{
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    font-weight: bolder;
    justify-content: center;
    text-align: center;
    height: 10%;
    width: 100%;
}
.left-panel-contents{
    height: 90%;
    width: 100%;
    overflow-y: auto;
    text-align: center;
   
    border-top:  solid rgb(230, 228, 228);
}
.left-panel-contents::-webkit-scrollbar {
    width: 0.5rem;
}  
.left-panel-contents::-webkit-scrollbar-thumb {
    background:  rgb(197, 193, 193);
    border-radius: 0.5rem;
}
.left-panel-list {
    width: 100%;
    padding: 1.29rem 0rem;
    list-style: none;
}

.left-panel-list:hover {
    background-color: rgb(22, 40, 80);
}
.left-panel-list:hover .left-panel-link{
    color: white;
}
.left-panel-link{
    text-decoration: none;
    color: black;
    cursor: pointer;
   
}

.right
{
    background-color: rgb(22, 40, 80);
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: right;
    justify-content: center;
    width: 80%;
    background-color: #f2f3f5;
    border-left: 2px solid rgb(230, 228, 228);
}
.right:hover{
    background-color: rgb(238, 238, 238);
}
@media screen and (max-width:980px){
     .left-panel-heading{
        font-size: 1.5rem;
    }
}
@media screen and (max-width:650px) {
    .left{
        width: 0%;
        display: none;
    }
    .right
    {
        height: 90vh;
        width: 100%;
    }
}
