.containerr{
    display: flex;
    background-color: blanchedalmond;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}
.box {
    display: flex;
    flex-direction: row; 
    justify-content: space-evenly;
    align-items: center;
    height: 80vh;
    width: 80vw;
    background-image: linear-gradient(to right,rgb(105, 135, 129), rgb(39, 63, 73));
    border-radius: 1rem;
}
.signup-image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover; 
    height: 60vh;
    width: 50%;
}
.bg-img1{
    height: 100%;
    width: 100%;
}
.bg-img2{
    display: none;
}
.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 35%;
}

.signup-form {
    
    /* flex: 1; */
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.signup-container-heading {
    color:blanchedalmond;
    font-size: 3rem;
}
.signup-hr-div
{
    display: flex;
    justify-content: center;
    width: 52%;
}
.signup-hr{
    border-top: 1px solid blanchedalmond;
    margin-top: -1rem;
    width: 100%;
}


.signup-form input[type="email"],
.signup-form input[type="password"],
.signup-form input[type="submit"] {
    display: flex;
    justify-content: center;
    width: 80%;
    background-color: transparent;
    border: 1px solid blanchedalmond;
    padding: 0.65rem;
    border-radius: .5rem;
    color: blanchedalmond;
}

.signup-form input[type="email"]::placeholder,
.signup-form input[type="password"]::placeholder {
    color: blanchedalmond;
}

.signup-form input[type="submit"] {
    color: blanchedalmond;
    cursor: pointer;
    background-color:transparent;
    transition: ease-in-out background-color color .5s;
}
.signup-form input[type="submit"]:hover{
    background-color: blanchedalmond;
    color:rgb(48, 44, 44);
}
.signup-divider-div{
    width: 55%;
}
.signup-divider {
    font-size: 15px;
    display: flex;
    align-items: center;
  }
  
.signup-divider::before, .signup-divider::after {
    content: '';
    padding: .5px;
    width: 100%;
    background-color: blanchedalmond;
}
.last-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.last-text p {
    color: blanchedalmond;
    margin-inline-start:7px;
}
.link{
    text-decoration: none;
    
}
.link:hover {   
    color: rgb(0, 17, 206);
}

@media screen and (max-width:550px){
    
    .box{
        flex-direction: column;
        align-items: center;
        background-image: linear-gradient(to bottom,rgb(105, 135, 129), rgb(39, 63, 73));
        padding: 1rem;
    }
    .signup-image-container{
        width: 100%;
        height: 40%;
    }
    .signup-container{
        width: 100%;
        height: 60%;
    }
    .signup-form {
        gap: 1rem;
    } 
}