.admin-button{
    background-color: #1888ff;
    border-radius: 4px;
    outline: none;
    border: none;
    color: white;
    cursor: pointer;
    width: 8rem;
    height: 3rem;
    padding: .5rem 1.25rem;
}

.manage-navbar{
    display: flex;
    flex-direction: row;    
    width: 100%;
    height: 10vh;
    background-color: rgb(22, 40, 80);
    align-items: center;
    justify-content: center;
}

.manage-sport{
    height:90vh;
    width: 100%;
}

.sport-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.sport-inner{
    display: flex;
    flex-direction: column;
    width: auto;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: #f2f3f5;
    box-shadow: 10px 10px 5px 2px rgb(206,205,205);
}

.manage-sport-image{
    height: 200px;
    width: 200px;
}

.ruler{
    width: 80%;
    margin-top: 1rem;
    border: 0;
    height: 3px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(9, 84, 132), rgba(0, 0, 0, 0));
}

.chng-btn{
    width: 30px;
    font-weight: bold;
    height:30px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #1888ff;
    border-radius: 4px;
    outline: none;
    border: none;
}

.sport-quant{
    font-weight: bold;
    padding: 0.5rem;
}

.sport-equipment{
    font-weight: bold;
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 1rem;
}

.sport-name{
    cursor: pointer;
    margin-top: 0.5rem;
    font-weight: bold;
    font-size: 1.8rem;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sport-inner:hover{
    cursor: pointer;
    background-color: rgb(224, 218, 218) ;
}

.toggle-icon{
    cursor: pointer;
    padding: 1rem;
    margin-top: 7%;
}

.sport-inventory{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: auto;
    height: 100%;
}

@media screen and ( max-width:400px){
    .sport-name{
        font-size: 1.5rem;
    }
    .manage-sport-image{
        height: 120px;
        width: 120px;
    }
    .sport-inner{
        padding: 1rem;
    }
    .sport-equipment{
        font-size: 0.8rem;
        gap: 0.3rem;
    }
    .chng-btn{
        height: 25px;
        width: 25px;
    }
}